@page
@model TrainTickets.Pages.Places.IndexModel

@{
    ViewData["Title"] = "Places";
}

<h1>Places</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Place[0].PlaceNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Place[0].Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Place[0].IsFree)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Place[0].Coach)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Place) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PlaceNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsFree)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Coach.ID)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
