@page
@model TrainTickets.Pages.PurchaseTicketModel
@{
    ViewData["Title"] = "Purchase Ticket";
}

<div class="container mb-5 d-flex justify-content-center">
    <div class="col-10">
        <div class="row">
            <h1 class="h2 mt-5 text-center">@Model.StationsAndDateVM.OriginStation &#8594; @Model.StationsAndDateVM.DestStation&nbsp;&nbsp;&nbsp;<span class="h4">@(DateOnly.FromDateTime(@Model.StationsAndDateVM.DepartDatetime))</span></h1>

            <h2 class="h4 mt-5">Order #<span>@Model.OrderNumber</span></h2>

            <div class="row p-3 border rounded-3 bg-light shadow">
                <div class="col-md-3">
                    <div class="row pt-2 pb-1 fw-bold"><i class="fa-solid fa-train">&nbsp;&nbsp;@Model.TrainVM.Name</i></div>
                    <div class="row">@Model.StationsAndDateVM.OriginStation &#8594; @Model.StationsAndDateVM.DestStation</div>
                </div>
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-4 fw-bold">Departure</div>
                        <div class="col-4 fw-bold">Trip Duration</div>
                        <div class="col-4 fw-bold">Arrival</div>
                    </div>
                    <div class="row">
                        <div class="col-4">
                            <span>@(TimeOnly.FromDateTime(@Model.TrainVM.DepartDatetime))</span>
                            <span class="date">@(DateOnly.FromDateTime(@Model.TrainVM.DepartDatetime))</span>
                        </div>
                        <div class="col-4">@Model.TrainVM.TripDuration</div>
                        <div class="col-4">
                            <span>@(TimeOnly.FromDateTime(@Model.TrainVM.ArrivalDatetime))</span>
                            <span class="date">@(DateOnly.FromDateTime(@Model.TrainVM.ArrivalDatetime))</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="row fw-bold">
                        <div class="col-8">
                            Coach, Place
                        </div>
                        <div class="col-4">
                            Price
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-8">
                            #<span>@Model.Coach.CoachNumber</span>, #<span>@Model.PlaceNumber</span> (@Model.Coach.Type)
                        </div>
                        <div class="col-4">
                            <span>@Model.Coach.PriceTenge</span> ₸
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <form action="" method="post" class="signupForm border p-4 bg-white shadow mb-5">
                    <h2 class="h4 mb-5 text-secondary">Customer Details</h2>

                    <div class="row">
                        <div class="mb-3 col-lg-4">
                            <label for="firstname" class="form-label">
                                First Name<span class="text-danger">*</span>
                            </label>
                            <input type="text" name="firstname" id="firstname" class="form-control"
                                   placeholder="Enter your first name" required>
                        </div>
                        <div class="mb-3 col-lg-4">
                            <label for="lastname" class="form-label">
                                Last Name<span class="text-danger">*</span>
                            </label>
                            <input type="text" name="lastname" id="lastname" class="form-control"
                                   placeholder="Enter your last name" required>
                        </div>
                        <div class="mb-3 col-lg-4">
                            <label for="iin" class="form-label">IIN<span class="text-danger">*</span></label>
                            <input type="text" name="iin" id="iin" class="form-control" pattern="[0-9]{12}"
                                   placeholder="Enter your IIN (12 numbers)" required>
                        </div>

                        <div class="mb-3 col-lg-4">
                            <label for="email" class="form-label">
                                Email<span class="text-danger">*</span>
                            </label>
                            <input type="text" name="email" id="email" class="form-control"
                                   placeholder="example@email.com" required>
                        </div>
                        <div class="mb-3 col-lg-4">
                            <label for="phone" class="form-label">
                                Phone<span class="text-danger">*</span>
                            </label>
                            <input type="tel" class="form-control" name="phone" id="phone"
                                   pattern="+[0-9]{11}" placeholder="+87071234567"
                                   required>
                        </div>
                    </div>

                    <hr>

                    <div class="row my-2">
                        <h2 class="h4 mb-4 text-secondary">Payment</h2>

                        <div class="col-4">
                            <input type="radio" class="btn-check" name="paymentMethod" value="kaspi"
                                   id="paymentMethodKaspi" autocomplete="off" required>
                            <label class="btn btn-outline-danger rounded-0 w-100"
                                   for="paymentMethodKaspi">Kaspi</label>
                        </div>
                        <div class="col-4">
                            <input type="radio" class="btn-check" name="paymentMethod" value="halyk"
                                   id="paymentMethodHalyk" autocomplete="off" required>
                            <label class="btn btn-outline-success rounded-0 w-100"
                                   for="paymentMethodHalyk">Halyk</label>
                        </div>
                        <div class="col-4">
                            <input type="radio" class="btn-check" name="paymentMethod" value="OtherBank"
                                   id="paymentMethodOtherBank" autocomplete="off" required>
                            <label class="btn btn-outline-warning rounded-0 w-100"
                                   for="paymentMethodOtherBank">
                                Other
                                Bank
                            </label>
                        </div>

                        <div class="mb-3 mt-4 col-lg-4">
                            <label for="cardNumber" class="form-label">
                                Credit card number<span class="text-danger">*</span>
                            </label>
                            <input type="text" name="cardNumber" id="cardNumber" class="form-control"
                                   pattern="[0-9]{4}-[0-9]{4}-[0-9]{4}-[0-9]{4}" placeholder="1234-5678-9012-3456"
                                   >
                        </div>
                        <div class="mb-3 mt-4 col-lg-4">
                            <label for="cardExpirationDate" class="form-label">
                                Expiration date<span class="text-danger">*</span>
                            </label>
                            <input type="text" name="cardExpirationDate" id="cardExpirationDate"
                                   class="form-control" pattern="[0-9]{2}/[0-9]{2}" placeholder="01/23" >
                        </div>
                        <div class="mb-3 mt-4 col-lg-4">
                            <label for="cardCvv" class="form-label">
                                CVV<span class="text-danger">*</span>
                            </label>
                            <input type="text" name="cardCvv" id="cardCvv" class="form-control"
                                   pattern="[0-9]{3}" placeholder="123" >
                        </div>
                    </div>

                    <div class="mb-3 mt-4">
                        <button type="submit" class="btn btn-primary float-end">Purchase Ticket (@Model.Coach.PriceTenge ₸)</button>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>
