@page
@model TrainTickets.Pages.SelectCoachModel
@{
    ViewData["Title"] = "Select Coach";
}

@section Styles {
<link rel="stylesheet" href="~/css/coaches.css">
}

@section Scripts {
<script src="~/js/coaches.js"></script>
}

<div class="container pb-5">
    <h1 class="h2 mt-5 text-center">@Model.StationsAndDateVM.OriginStation &#8594; @Model.StationsAndDateVM.DestStation&nbsp;&nbsp;&nbsp;<span class="h4">@Model.StationsAndDateVM.DepartDate</span></h1>

    <div class="row mt-5 p-3 border rounded-3 bg-white shadow">
        <div class="col-md-3">
            <div class="row pt-2 pb-1 fw-bold"><i class="fa-solid fa-train">&nbsp;&nbsp;034T</i></div>
            <div class="row">@Model.TrainVM.FirstStation &#8594; @Model.TrainVM.LastStation</div>
        </div>
        <div class="col-md-7">
            <div class="row">
                <div class="col-4 fw-bold">Departure</div>
                <div class="col-4 fw-bold">Trip duration</div>
                <div class="col-4 fw-bold">Arrival</div>
            </div>
            <div class="row">
                <div class="col-4">
                    <span>@Model.TrainVM.DepartTime</span>
                    <span class="date">@Model.TrainVM.DepartDate</span>
                </div>
                <div class="col-4">@Model.TrainVM.TripDuration</div>
                <div class="col-4">
                    <span>@Model.TrainVM.ArrivalTime</span>
                    <span class="date">@Model.TrainVM.ArrivalDate</span>
                </div>
            </div>
        </div>
        <div class="col-md-2 mt-2 price">from <span>@Model.TrainVM.MinPriceTenge</span> ₸</div>
    </div>

    <div class="row mt-5">
        <h2 class="h3 text-center mb-4">
            Select coach type:</h1>

            <button id="platzcartBtn" class="col-6 btn btn-outline-warning active rounded-0 coachTypeBtn">Platzcart</button>
            <button id="kupeBtn" class="col-6 btn btn-outline-success rounded-0 coachTypeBtn">Kupe</button>
    </div>

    <div id="platzcartCoaches">

        @foreach (var platzCoach in Model.PlatzcartCoaches) {
            <div class="row mt-5 p-3 pb-2 border rounded-3 bg-white shadow">
                <h2 class="h3 text-center pt-2 pb-3">Coach #<span>@platzCoach.CoachNumber</span></h2>

                <form action="/PurchaseTicket" method="get">
                    <input type="hidden" name="coach" value="@platzCoach.CoachNumber">

                    <div class="overflow-auto d-flex justify-content-center">
                        <div class="coachBgImg">
                            <div class="btn-group text-center" role="group">
                                @foreach (var place in platzCoach.Places) {
                                    <div class="containerPlace">
                                        <input type="radio" class="btn-check" name="place" value="@place.PlaceNumber" id="@($"coach{platzCoach.CoachNumber}Place{place.PlaceNumber}")" autocomplete="off" required>
                                        <label class="btn btn-outline-primary" for="@($"coach{platzCoach.CoachNumber}Place{place.PlaceNumber}")">@place.PlaceNumber</label>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                    <div class="d-flex justify-content-center mt-4">
                        <input type="submit" class="form-control btn btn-primary continueBtn" value="Continue">
                    </div>
                </form>
            </div>
        }
    </div>

    <div id="kupeCoaches">
        @foreach (var kupeCoach in Model.KupeCoaches) {
            <div class="row mt-5 p-3 pb-2 border rounded-3 bg-white shadow">
                <h2 class="h3 text-center pt-2 pb-3">Coach #<span>@kupeCoach.CoachNumber</span></h2>

                <form action="/PurchaseTicket" method="get">
                    <input type="hidden" name="coach" value="@kupeCoach.CoachNumber">

                    <div class="overflow-auto d-flex justify-content-center">
                        <div class="coachBgImg">
                            <div class="btn-group text-center" role="group">
                                @foreach (var place in kupeCoach.Places) {
                                    <div class="containerPlace">
                                        <input type="radio" class="btn-check" name="place" value="@place.PlaceNumber" id="@($"coach{kupeCoach.CoachNumber}Place{place.PlaceNumber}")" autocomplete="off" required>
                                        <label class="btn btn-outline-primary" for="@($"coach{kupeCoach.CoachNumber}Place{place.PlaceNumber}")">@place.PlaceNumber</label>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                    <div class="d-flex justify-content-center mt-4">
                        <input type="submit" class="form-control btn btn-primary continueBtn" value="Continue">
                    </div>
                </form>
            </div>
        }
    </div>
</div>
